image: python:3.12

stages:
  - install
  - test
  - containerize
  - container-test
  - deploy
  - notify

install:
  stage: install
  script:
    - echo "Install dependencies from requirements.txt and cache them" && false  

test:
  stage: test
  script:
   - echo "Load the installed dependencies from cache and test the code" && false

containerize:
  stage: containerize
  image: docker:latest
  services:
    - docker:dind 
  script:
    - echo "Build, tag and push the image" && false


container-test:
  stage: container-test
  image: docker:latest

  services:
    - docker:dind 
  script:
    echo "login to the registry and use docker-compose to test that the application works" || false
  after_script:
    echo "delete all services and orphans containers" || false


deploy:
  stage: deploy
  image:
    name: alpine/kubectl:latest
    entrypoint: [""]
  script:
    - kubectl config use-context $KUBE_CONTEXT
    - kubectl get secret regcred -n $USERNAME >/dev/null 2>&1  || kubectl create secret docker-registry regcred -n $USERNAME --docker-server=$CI_REGISTRY --docker-username=$EMAIL --docker-password=$REGISTRY_TOKEN --docker-email=$EMAIL
    - kubectl apply -f k8s.yaml -n $USERNAME

  variables:
    KUBE_CONTEXT: "<your_group>/cloud-security-lab:k8s-agent"


notify-success:
  stage: notify
  image: curlimages/curl:latest
  script:
    - | 
      MESSAGE="✅ Deployment Succeeded! Pipeline:[#$CI_PIPELINE_ID]($CI_PIPELINE_URL) -- Visit: https://cicdiaries.jackops.dev/<yourusername>"
      curl -s -X POST https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage \
        -d chat_id="${TELEGRAM_CHAT_ID}" \
        -d parse_mode="Markdown" \
        -d text="$MESSAGE"


notify-failure:
  stage: notify
  image: curlimages/curl:latest
  script:
    - |
      MESSAGE="❌ Pipeline for student <yourusername> [#$CI_PIPELINE_ID]($CI_PIPELINE_URL) Failed! Status: $CI_JOB_STATUS"
      curl -s -X POST https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage \
        -d chat_id="${TELEGRAM_CHAT_ID}" \
        -d parse_mode="Markdown" \
        -d text="$MESSAGE"
