.DS_Store
**__pycache__**
__pycache__/
**egg**
*.pyc
logs/*
.vscode
.idea
Pipfile
Pipfile.lock
db/
.venv
*.env
output.log

instance/

.pytest_cache/
.coverage
htmlcov/

# Static code analysis
**/*.scannerwork/

dist/
build/
*.egg-info/
