networks:
  cloudnet:  
    driver: bridge
  
services:
  blog:
    hostname: blog
    image: $CI_REGISTRY_IMAGE:latest
    command: flask run --host=0.0.0.0 --debug
    networks:
      - cloudnet
    env_file:
     - .env.ci
    volumes:
     - ./app:/app
     - ./db:/db
  tester:
    image: busybox
    container_name: tester
    networks:
      - cloudnet